.comment {
    display: flex;
    justify-content: space-between;
    padding-left: 1.25em;
    font-size: .8725rem;
    /* margin: 0em 0.3125em 0.625em 0.3125em;
    box-shadow: 0.5px 1px 3px grey; */
}

.comment-words {
    display: flex;
    align-items: center;
    width: 100%;
}

.comment-content {
    margin-left: 1.09375em;
}

.comment-content-words {
    margin-left: 17.5px;
    font-size: 14px;
}

.comment-img {
    border-radius: 50%;
    height: 1.875em;
    width: 1.875em;
}

.right-extra {
    display: flex;
    padding-right: 10px;
    align-items: center;    
    margin-right: 20px;
    font-size: small;
    margin-left: 10px;
    cursor: context-menu;
}

.close {
    margin-right: 5px;
    margin-top: 5px;
    cursor: default;
    font-weight: 700;
}

.close-buttons {
    cursor: context-menu;
    font-weight: 700;
}


.buttons-comment-buttons {
    display: flex;
}

.comment-edit-button {
    margin-right: 5px;
    padding: 5px;
    border: 1px solid transparent;
    background-color: #3897f0;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

.comment-edit-button:hover {
    transform: scale(1.02); 
    box-shadow: 0px 5px 10px 2px #3897f0;
}

.comment-delete-button {
    margin-right: 5px;
    padding: 5px;
    border: 1px solid transparent;
    background-color: #ff0011;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

.comment-delete-button:hover {
    transform: scale(1.02); 
    box-shadow: 0px 5px 10px 2px #ed5249;
}

.post-comments {
    margin-top: 20px;
}

