.card {
    max-width: 480px;
    margin: auto;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 100px;
}

.card-header {
    padding: 15px;
    display: flex;
    align-items: center;
}

.card-user-img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 15px;
}

.card-user-name {
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.post-img img {
    width: 100%;
}

.card-content {
    padding: 0.9375em;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.post-img-url {
    height: 25.50em;
    /* width: 25.00em; */
}

.post-content {
    display: flex;
    margin-left: 10px;
    margin-top: -0.9375em;
}

.post-words {
    margin-left: 0.9375em;
    margin-right: 0.9375em;
}

.post-time {
    font-size: 12px;
    display: flex;
    margin-left: 10px;
    margin-top: -1.9375em;
}

/* Styles from drop down menu */


/* span in Post.js line 68 */
.dropdown-span {
    float: right;
    margin-top: 22px;
    margin-right: 15px;
    position: relative;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: -500%;
    float: right;
    justify-content: center;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content p {
    color: black;
    padding-top: 10px;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-left: 12px;
    display: block;
    font-size: 12px;
    cursor: pointer;
}

.dropdown-content p:hover {
    background-color: #ddd;
}

.dropdown-span:hover .dropdown-content {
    display: block;
}

/* .dropdown:hover .dropdown-content {
    display: block;
} */

/* .option-one-p {
    font-size: 10px;
    cursor: pointer;
}

.option-one-p:hover {
    box-shadow: 100% lightgray;
    text-size-adjust: 12px;
}

.option-two-p {
    font-size: 10px;
    color: red;
    cursor: pointer;
}

.option-two-p:hover {
    box-shadow: 100% lightgray;
    text-size-adjust: 12px;
}  */