/* 1st most top DIV, located in PostPicture.js */
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* 2nd most top DIV, located in PostPicture.js */
.gallery-item {
  position: relative;
  flex: 0 0 33.333333%;
  color: #fff;
  cursor: pointer;
  margin-bottom: 5%;
}

/* img className, located in PostPicture.js */
.gallery-image {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  object-fit: cover;
}

.gallery-item-info li {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 600;
}

.gallery-item-likes {
  margin-right: 2.2rem;
}

.gallery-item-comments {
  margin-right: 2.2rem;
}
