

.card {
    max-width: 480px;
    margin: auto;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 100px;
}

.card-header {
    padding: 15px;
    display: flex;
    align-items: center;
}

.card-user-img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 15px;
}

.card-user-name {
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.post-img img {
    width: 100%;
}

.card-content {
    padding: 15px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}